# creating the area   python -m venv venv
# opening the area   venv\Scripts\activate
# starting the project   cd Project | cd app | python -m uvicorn main:app --reload
# upload everything to git with   git add .
# to close the virtual project deactivate 


#changes to staged changes with +
#write the message and press commit